html, body { margin: 0; padding: 0; }
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #373737;
}

h1, h2, h3 {
  font-family: 'Slabo 27px', serif;
}

blockquote {
  margin: 0;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
blockquote::before {
  content: '"';
}
blockquote::after {
  content: '"';
}

.header {
  min-height: 500px;
  overflow: hidden;
  background-image: url(../images/header1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header h1 {
  color: #FFF;
  text-align: center
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}

div.two-blocks {
  display: flex;
}

div.block {
  margin: 10px;
}

@media only screen and (max-device-width: 812px) {
  div.two-blocks {
    display: block;
  }
}

.footer {
  margin-top: 50px;
  padding: 10px 0;
  font-size: 10px;
  background-color: #2E2E2E;
  color: #CECECE;
}