html, body { margin: 0; padding: 0; }
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #373737;
}

h1, h2, h3 {
  font-family: 'Slabo 27px', serif;
}
h2, h3 {
  margin-top: 2em;
}

a {
  color: #D47855;
}

ul li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 2em 0;
}
blockquote p {
  margin-bottom: 0.25em;
  font-size: 20px;
  font-style: italic;
  color: #AAA;
}
blockquote p::before {
  content: '"';
}
blockquote p::after {
  content: '"';
}
blockquote span {
  font-style: italic;
  font-weight: bold;
}

.header {
  min-height: 500px;
  overflow: hidden;
  background-image: url(../images/header1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header .navigation {
  width: 200px;
  background-color: #FFF;
}
.header .navigation input.hidden {
  display: none;
}
.header .navigation ul {
  margin: -246px 0 0 0;
  padding: 0;
  list-style: none;
  transition: margin .25s ease-in-out;
}
.header .navigation:hover ul {
  margin: -225px 0 0 0;
}
.header .navigation input:checked + ul {
  margin-top: 0px;
}
.header .navigation ul li {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.header .navigation ul li a {
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  background-color: white;
  color: #000;
  transition: margin .2s ease-in-out;
}
.header .navigation ul li a:hover {
  margin-left: 15px;
  margin-right: -15px;
}
.header .navigation label {
  display: block;
  padding-top: 32px;
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  background-position: center 5px;
  cursor: pointer;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}

.content h1 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 3px solid #D47855;
}

div.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
div.two-columns > a.block {
  width: calc(50% - 50px);
}

a.block {
  display: block;
  text-decoration: none;
  cursor: default;
  border-radius: 3px;
  overflow: hidden;
}
a.block[href] {
  cursor: pointer;
}
a.block h2 {
  margin: 0;
  padding: 5px 10px;
  background-color: #2E2E2E;
  background-color: #D47855;
  color: #FFF;
}
a.block p {
  color: #000;
}
a.block img {
  /* filter: grayscale(); */
  /* transition: filter .15s linear; */
}
a.block img:hover {
  /* filter: none; */
}

a.block.newsletter {
  width: calc(50% - 100px);
  padding: 25px;
  background-color: #D47855;
}
a.block.newsletter h2 {
  padding: 5px 0;
  text-align: center;
}
a.block.newsletter p {
  color: #FFF;
}
a.block.newsletter input {
  text-indent: 10px;
}
a.block.newsletter input,
a.block.newsletter button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 3px
}
a.block.newsletter button {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.5);
  transition: all .1s ease-in-out;
  transform: translateX(-1px) translateY(-2px);
  outline: none;
}
a.block.newsletter button:hover {
  transform: translateX(0px) translateY(-1px);
  box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.5);
}
a.block.newsletter button:active {
  transform: translateX(0px) translateY(0px);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  outline: none;
}

div.profile {
  overflow: hidden;
  margin-bottom: 50px;
}
div.profile h3 {
  margin-top: 0;
}
div.profile img {
  float: left;
  margin-right: 25px;
}
div.profile p {
  font-size: 13px;
  line-height: 1.4;
}

@media only screen and (max-width: 812px) {
  div.two-columns {
    display: block;
  }
  div.two-columns > a.block {
    width: 100%;
    margin-bottom: 50px;
  }
  div.two-columns > a.block.newsletter {
    width: calc(100% - 50px);
  }
}

.footer {
  margin-top: 50px;
  padding: 10px 0;
  font-size: 10px;
  background-color: #2E2E2E;
  color: #CECECE;
}